<h1>Fruits.edit (/fruits/<%= fruit.id %>/edit)</h1>

<form action="/fruits/<%= fruit.id %>/edit" method="post">
	<input type="text" name="name" value="<%= fruit.name %>">
	<input type="text" name="tastiness" value="<%= fruit.tastiness %>" /> 
	<button type=submit>Update</button>
</form>
