<h1>Fruits.show (/fruits/<%= fruit.id %>)</h1>

<h2>
	<a href="/fruits/<%= fruit.id %>/edit"><%= fruit.name %></a>
	<form action="/fruits/<%= fruit.id %>/destroy" method="post">
		<button type="submit">Destroy Fruit</button>
	</form>	
</h2>
<p>Tastiness: <%= fruit.tastiness %>

